<!-- your html code here -->
<div class="continer-fluid">
    <div class="row align-items-center">
        
        <!-- Text -->
        <div class="col-6">
            <h3>This First Heading Will Catch Your Eye</h3>
            <p>Donec ullamcorper nulla non metus autor fringila. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel sceelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <!-- IMG -->
        <div class="col-6">
            <img  class="rounded-circle" src="/website/assets/img/1.jpg">
        </div>
    </div>

</div>