<!-- your html code here -->
<div class="continer  container-padding-x ">
    <div class="row align-items-start p-8">
        <!-- Text -->
        <div class="col-md-6 ">
            <div class="p-8">
                <h3>This First Heading</h3>
                 <span>Will Catch Your Eye</span>
            </div>
            <p>Donec ullamcorper nulla non metus autor fringila. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel sceelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <!-- IMG -->
    <div  class="col-md-auto  ">
            <img class=" rounded-circle" src="/website/assets/img/1.jpg" alt="Nature" style="width:60%">
        </div>
    </div>

</div>