<!-- your html code here -->
<div class="continer  container-padding-x ">
    <div class="row align-items-start p-5rem">
        <!-- Text -->
        <div class="col-md-6 ">
            <div class="p-8 text-start">
                <h3>This First Heading <small class="text-muted">Will Catch Your Eye</small></h3>
            </div>
            <p>Donec ullamcorper nulla non metus autor fringila. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel sceelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <!-- IMG -->
    <div  class="col-md-auto  ">
            <img class=" img-thumbnail" src="/website/assets/img/tucan_border_radius.jpg" alt="Nature" style="width:70%">
        </div>
    </div>

</div>