<!-- your html code here -->
<div class="m-4">
<h1>Porfolio</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum tempora autem nihil distinctio reprehenderit necessitatibus, aspernatur ea quo quisquam, molestiae aperiam libero? Provident obcaecati consequatur natus veritatis animi, ratione consequuntur.</p>
</div>
<div class="card-group m-4 d-flex gap-5">
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/id/237/1000/1000" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam inventore repudiandae repellat ea blanditiis incidunt consectetur tenetur, odit quod est similique dicta voluptates rem corporis minima velit esse dolorum distinctio..</p>
      </div>
      
        
      </div>
    
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/seed/picsum/1000/1000" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, ab velit. Dolores id ducimus quo odit nam incidunt eos, maiores, sint cumque ipsa quia corrupti, voluptates iste! Ipsum, fugiat ea.</p>
      </div>
      
       
      </div>
    
    <div class="card">
      <img class="card-img-top" src="https://picsum.photos/1000/1000" type="w-10" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, sapiente porro! Recusandae magni similique officia voluptas veniam possimus dolor at dolorum modi enim architecto eum eos quod, aut sint voluptates!.</p>
      </div>
      
        
      </div>
    </div>
  </div>