<!-- your html code here -->

<div class="container">
  <div class="row">
    <div class="col-3">
      <img>
    </div>
    <div>
      <h1 class="col-9">
        <strong>The Second Heading</strong>
        <span class="opacity-50">Is Pretty Cool Too</span>
      </h1>
      <p>
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
  </div>
</div>
